<html>
    <head>
        <title>Shubham blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Shubham Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">How My "Stupid" Career Decision Led Me to My Dream Job</a></h2>
            <p>  Nine years ago, I made a stupid decision. I left a great job at an extraordinary company, Capital One. But, I’d been there for a decade and felt worn out at the ripe old age of 35.

                With responsibilities, a family at home, and plenty of stock options waiting to vest, I should have asked for a six-month
                sabbatical, but instead I resigned.

                What would I do during that time? I would take a step back from the daily grind to figure out what I should
                do next and how could I make my career meaningful again. Rather than sitting in a cubicle hoping the answer
                would come to me in between answering emails and meetings, I would get away from it all and listen to the
                Universe.  </p>
        </div>
    </body>
</html>
